@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');


* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(49, 48, 48);
    /* font-family: "Orbitron", sans-serif; */
    font-family: "Fredoka", sans-serif;
}

.counter {
    font-family: "Orbitron", sans-serif;
}
